/* Styles pour le formulaire de contact */
.custom-contact-form {
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    background-color: rgba(0,0,0,0.1);
}

.custom-contact-form label {
    display: block;
    font-weight: bold;
}

.custom-contact-form input[type="text"],
.custom-contact-form input[type="email"],
.custom-contact-form input[type="tel"],
.custom-contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    border-radius: 4px;
    box-sizing: border-box;
}

.custom-contact-form textarea {
    resize: vertical;
    min-height: 150px;
}

/* Messages de confirmation et d'erreur */
.success-message {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    color:var(--wp--preset--color--contrast);
}

.error-message {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    color:var(--wp--preset--color--tertiary);
}